@charset "utf-8";


/*reset*/
*{margin: 0; padding: 0;}
ol, ul {list-style: none;}
a {text-decoration: none; color: #555;}
img {border:0;}
.blind {position: absolute; left: 0; top: 0; width: 0; height: 0; font-size: 0; line-height: 0;
text-indent: -9999px; overflow: hidden;}
body {font-size: 12px; line-height: 1.6; font-family: "Poiret One", cursive; color: #555;}


/* 레이아웃 */
body>header{position: fixed; left: 0; top: 0; width: 15%; height: 100%; background: #fff;}
nav.lnb{position: relative; width: 85%; height: 35px; background: #212121; margin-left: 15%;}

body>section{ width: 85%; margin-left: 15%;}
body>section>article{float: left; height: 260px; animation: scale 1s linear 0s 1;}
@keyframes scale {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}

body>section>article:nth-of-type(1) { width: 60%; height: 520px; background: #ddd;}
body>section>article:nth-of-type(2) { width: 40%; background: #ccc;}
body>section>article:nth-of-type(3) { width: 20%; background: #111;}
body>section>article:nth-of-type(4) { width: 20%; background: #222;}
body>section>article:nth-of-type(5) { width: 20%; background: #333;}
body>section>article:nth-of-type(6) { width: 40%; background: #444;}
body>section>article:nth-of-type(7) { width: 20%; background: #555;}
body>section>article:nth-of-type(8) { width: 20%; background: #666;}
body>section>article:nth-of-type(9) { width: 40%; background: #777;}
body>section>article:nth-of-type(10) { width: 20%; background: #888;}
body>section>article:nth-of-type(11) { width: 20%; background: #999;}
body>section>article:nth-of-type(12) { width: 20%; background: #ddd;}


/* header */
h1 {position: absolute; left: 50%; top: 70px; margin-left: -90px;
    width: 180px; height: 136px; background: url(../img/logo1.png); background-size: contain;
    text-indent: -9999px; overflow: hidden;}
nav.gnb {position: absolute; right: 57px; top: 300px;}
nav.gnb a {display: block; padding: 8px 30px; font-size: 17px; font-weight: bold; color: #555;
            line-height: 1.8;}
nav.gnb a:hover {color: skyblue;}
nav.gnb a i {margin-right: 10px;}

dl.topMenu {position: absolute; right: 50%; bottom: 50px; width: 90px; height: 47px; margin-right: -45px;}
dl.topMenu dd {float: left;}


/* lnb */
.lnb ul li:nth-child(1){position: absolute; left: 10px; top: 5px;}
.lnb ul li:nth-child(2){position: absolute; left: 150px; top: 5px;}
.lnb ul li:nth-child(3){position: absolute; right: 90px; top: 5px;}
.lnb ul li:nth-child(4){position: absolute; right: 0px; top: 5px;}


/* section */
article>div {position: relative; overflow: hidden; width: 100%; height: 100%;}


/* 배경이미지 삽입 */
article .bg1 {background: url(../img/pic1.jpg) no-repeat 50% 50%;}
article .bg2 {background: url(../img/pic2.jpg) no-repeat 50% 50%;}
article .bg3 {background: url(../img/pic3.jpg) no-repeat 50% 50%;}
article .bg4 {background: url(../img/pic4.jpg) no-repeat 50% 50%;}
article .bg5 {background: url(../img/pic5.jpg) no-repeat 50% 50%;}
article .bg6 {background: url(../img/pic6.jpg) no-repeat 50% 50%;}
article .bg7 {background: url(../img/pic7.jpg) no-repeat 50% 50%;}
article .bg { background-size: cover;} /*꽉채우기*/

article div.bg span { position: absolute; right: 20px; bottom: 20px;
                        font-size: 60px; color: #fff;
                        transform: scale(10); opacity: 0;
                        transition: all 0.6s linear 0s;}
article div.bg:hover span {transform: scale(1); opacity: 1;}

article div.bg1 span {position: absolute; right: -6px; bottom: -76px;
                    font-size: 170px; color: #fff;
                    transform: scale(1); opacity: 1;
                    transition: all 0.5s linear 0s ;}

article div.bg1:hover span {transform: rotateY(180deg); color: #222;}


/* 텍스트박스 */
article div.txt { padding: 40px 30px;box-sizing: border-box; color: #666; background: #fff;}

article:nth-of-type(3) div.txt {background:#bff7fa;}
article:nth-of-type(11) div.txt {background:#e3f1fb;}

article div.txt i {position: absolute; right: -200px; bottom: -70px;
                    font-size: 300px; color: #b3effc; opacity: 0;
                    transition: all 0.7s linear 0s;}
article:hover div.txt i {right: 0; opacity: 0.8;}

article div.txt p strong {font-size: 30px; font-weight: normal;}
article:hover div.txt {background: #6ce2fb; color: #fff;}

article div.txt p em {}


@media screen and (min-width:1280px) and (max-width:1599px) { /*1280~1599*/

/* 레이아웃 */
body>header{position: relative; left: 0; top: 0; width: 100%; height: 80px; background: #fff;}
nav.lnb{position: relative; width: 100%; height: 35px; background: #212121; margin-left: 0;}
body>section{ width: 100%; margin-left: 0;}
body>section>article{float: left; height: 260px;}

/* header */
h1 {position: absolute; left: 20px; top: 20px; margin-left: 0;
    width: 200px; height: 40px; background: url(../img/logo2.png); background-size: contain;
    text-indent: -9999px; overflow: hidden;}
nav.gnb {position: absolute; right: 200px; top: 20px;}
nav.gnb li {float: left;}

dl.topMenu {position: absolute; right: 80px; bottom: 20px; width: 90px; height: 47px; margin-right: 0;}
dl.topMenu dd {float: left;}

}
@media screen and (min-width:1024px) and (max-width:1279px) { /* 1번째 1024~1279*/
    
/* 레이아웃 */
body>header{position: relative; left: 0; top: 0; width: 100%; height: 80px; background: #fff;}
nav.lnb{position: relative; width: 100%; height: 35px; background: #212121; margin-left: 0;}
body>section{ width: 100%; margin-left: 0;}
body>section>article{float: left; height: 260px;}

/* header */
h1 {position: absolute; left: 20px; top: 20px; margin-left: 0;
    width: 200px; height: 40px; background: url(../img/logo2.png); background-size: contain;
    text-indent: -9999px; overflow: hidden;}
nav.gnb {position: absolute; right: 30px; top: 20px;}
nav.gnb li {float: left;}

dl.topMenu {display: none;}




body>section>article:nth-of-type(1) { width: 75%; height: 520px; background: #ddd;}
body>section>article:nth-of-type(2) { width: 25%}
body>section>article:nth-of-type(3) { width: 25%}

body>section>article:nth-of-type(4) { width: 25%}
body>section>article:nth-of-type(5) { width: 25%}
body>section>article:nth-of-type(6) { width: 50%}

body>section>article:nth-of-type(7) { width: 50%}
body>section>article:nth-of-type(8) { width: 25%}
body>section>article:nth-of-type(9) { width: 25%}

body>section>article:nth-of-type(10) { width: 50%}
body>section>article:nth-of-type(11) { width: 25%}
body>section>article:nth-of-type(12) { width: 25%}


}
@media screen and (min-width:780px) and (max-width:1023px) { /* 2번째  780~1023*/

/* 레이아웃 */
body>header{position: relative; left: 0; top: 0; width: 100%; height: 80px; background: #fff;}
nav.lnb{position: relative; width: 100%; height: 35px; background: #212121; margin-left: 0;}
body>section{ width: 100%; margin-left: 0;}
body>section>article{float: left; height: 260px;}

/* header */
h1 {position: absolute; left: 20px; top: 20px; margin-left: 0;
    width: 200px; height: 40px; background: url(../img/logo2.png); background-size: contain;
    text-indent: -9999px; overflow: hidden;}
nav.gnb {position: absolute; right: 10px; top: 20px;} /*2단계에서 추가된 내용*/
nav.gnb li {float: left;}
nav.gnb a {padding: 8px 10px;} /*2단계에서 추가된 내용*/

dl.topMenu {display: none;}

body>section>article:nth-of-type(1) { width: 75%; height: 520px; background: #ddd;}
body>section>article:nth-of-type(2) { width: 25%}
body>section>article:nth-of-type(3) { width: 25%}

body>section>article:nth-of-type(4) { width: 25%}
body>section>article:nth-of-type(5) { width: 25%}
body>section>article:nth-of-type(6) { width: 50%}

body>section>article:nth-of-type(7) { width: 50%}
body>section>article:nth-of-type(8) { width: 25%}
body>section>article:nth-of-type(9) { width: 25%}

body>section>article:nth-of-type(10) { width: 50%}
body>section>article:nth-of-type(11) { width: 25%}
body>section>article:nth-of-type(12) { width: 25%}
}
@media screen and (min-width:640px) and (max-width:779px) { /* 3번째  640~779*/


/* 레이아웃 */
body>header{position: relative; left: 0; top: 0; width: 100%; height: 160px; background: #fff;}
nav.lnb{position: relative; width: 100%; height: 35px; background: #212121; margin-left: 0;}
body>section{ width: 100%; margin-left: 0;}
body>section>article{float: left; height: 260px;}

/* header */
h1 {position: absolute; left: 50%; top: 20px; margin-left: 0; transform: translateX(-50%);
    width: 200px; height: 40px; background: url(../img/logo2.png); background-size: contain;
    text-indent: -9999px; overflow: hidden;}
nav.gnb {position: absolute; left: 50%; top: 70px;  transform: translateX(-50%); } /*2단계에서 추가된 내용*/
nav.gnb li {float: left;}
nav.gnb a {padding: 8px 10px;} /*2단계에서 추가된 내용*/

dl.topMenu {display: none;}



    body>section>article:nth-of-type(1) { width: 100%; height: 520px; background: #ddd;}
    body>section>article:nth-of-type(2) { width: 66.66%}
    body>section>article:nth-of-type(3) { width: 33.33%}
    
    body>section>article:nth-of-type(4) {display: none;}
    body>section>article:nth-of-type(5) { width: 33.33%}
    body>section>article:nth-of-type(6) { width: 66.66%}
    
    body>section>article:nth-of-type(7) { display: none;}
    body>section>article:nth-of-type(8) { width: 33.33%}
    body>section>article:nth-of-type(9) { width: 33.33%}
    
    body>section>article:nth-of-type(10) {display: none;}
    body>section>article:nth-of-type(11) { width: 33.33%}
    body>section>article:nth-of-type(12) {display: none;}

}
@media screen and (min-width:480px) and (max-width:639px) { /* 5555번째 480~639*/


/* 레이아웃 */
body>header{position: relative; left: 0; top: 0; width: 100%; height: 130px; background: #fff;}
nav.lnb{display: none;}
body>section{ width: 100%; margin-left: 0;}
body>section>article{float: left; height: 260px;}

/* header */
h1 {position: absolute; left: 50%; top: 20px; margin-left: -100px;
    width: 200px; height: 40px; background: url(../img/logo2.png); background-size: contain;
    text-indent: -9999px; overflow: hidden;}
nav.gnb {position: absolute; right: 0; top: 80px; width: 100%;} /*2단계에서 추가된 내용*/
nav.gnb ul {width: 100%;}
nav.gnb ul:after {content: ""; display: block; clear: both;}
nav.gnb li {float: left; width: 25%; text-align: center;}
nav.gnb a {padding: 8px 10px;} /*2단계에서 추가된 내용*/
nav.gnb a i {margin-right: 8px;}

dl.topMenu {display: none;}



    body>section>article:nth-of-type(1) { width: 100%; height: 520px; background: #ddd;}
    body>section>article:nth-of-type(2) { width: 100%}
    body>section>article:nth-of-type(3) { display: none;}
    
    body>section>article:nth-of-type(4) {display: none;}
    body>section>article:nth-of-type(5) { width: 50%}
    body>section>article:nth-of-type(6) { width: 50%}
    
    body>section>article:nth-of-type(7) { display: none;}
    body>section>article:nth-of-type(8) { width: 50%}
    body>section>article:nth-of-type(9) { width: 50%}
    
    body>section>article:nth-of-type(10) { display: none;}
    body>section>article:nth-of-type(11) { width: 50%}
    body>section>article:nth-of-type(12) {width: 50%;}

    article div.bg1 span { bottom: -50px; font-size: 120px; color: #fff;}
    article div.txt p strong {font-size: 25px;}
    article div.txt p em {display: none;}


}
@media screen and (max-width:479px) { /* 6번째 0~479*/

/* 레이아웃 */
body>header{z-index: 40; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: #fff;
background: rgba(255, 255, 255, 0);}
nav.lnb{display: none;}
body>section{ width: 100%; margin-left: 0;}
body>section>article{float: left; height: 260px;}

/* header */
h1 {position: absolute; left: 50%; top: 20px; margin-left: -70px;
    width: 140px; height: 136px; background: url(../img/logo1.png) no-repeat 0 0; background-size: contain;
    text-indent: -9999px; overflow: hidden;}
nav.gnb {position: absolute; right: 50%; top: 140px; width: 250px; margin-right: -125px;} /*2단계에서 추가된 내용*/
nav.gnb a {display: block; padding: 8px 10px; background: #000; color: #fff; opacity: 0.5;
            border-radius: 10px; margin: 8px;
            transition: all 0.5s ease 0s;} /*2단계에서 추가된 내용*/
nav.gnb a:hover {opacity: 1; transform: scale(1.1);}
nav.gnb a i {margin-right: 8px;}

dl.topMenu {display: none;}
body>section>article {display: none;}


    body>section>article:nth-of-type(1) { display: block; position: fixed; width: 100%; height: 100%;}
    body>section>article:nth-of-type(1) span {display: none;}

    article div.bg1 span { bottom: -50px; font-size: 120px;}
    article div.txt p strong {font-size: 25px;}
    article div.txt p em {display: none;}

}